<div class="page-header">
  <h1>Hacker News <small>Top stories</small></h1>
</div>
<ul>
  <% @links.each do |link| %>
    <li><%= link_to "#{link.description}", link_path(link) %>  <%= link_to "Upvote", upvote_link_path(link), :class => "btn btn-primary" %></li>
  <% end %>
</ul>
